.album {
    text-align: center;
}

.album h2 {
    font-size: 1.5em;
    padding: 3px 0;
    margin: 0 120px;
}

.album img {
    max-width: 768px;
    border-radius: 25px;
}

.album button {
    margin: 5px 5px;
    padding: 4px 35px;
    font-size: 0.9em;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    color: rgb(0, 0, 0);
    background-color: rgb(138, 65, 34);
}

.album .hint {
    margin: 0 20px;
    font-weight: bold;
}