.navbar {
    background: #373745;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar .title {
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: .6em;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    /* max-width: 1024px; */
    align-items: center;
    list-style-type: none;
}

.navbar a {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(50, 238, 109);
    font-size: 1.4em;
    font-weight: bolder;
}

.navbar a:hover {
    color:rgb(243, 83, 20);
}

.navbar .circle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid rgb(122, 21, 255);
    text-align: center;
    line-height: 45px;
}

.navbar .users-count {
    font-size: 1em;
    color: rgb(255, 239, 66);
    cursor: pointer;
}