.sidebar {
  font-size: 0.7em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  padding: var(--navbar-height-offset) 0 0 10px;
  color: rgb(163, 163, 163);
  font-family: 'Montserrat';
  background: #005485;
  overflow-x: hidden;
  overflow-y: auto;
}
  
.sidebarHandle {
  position: absolute;
  top: 0;
  right: -5px;
  height: 100%;
  width: 10px;
  background-color: #da3f3f;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  line-height: 1.8em;
}

.sidebar .active {
  color: rgb(96, 244, 123);
  font-weight: bold;
  border-left: 7px solid rgb(36, 30, 28);
}
