.unit-content {
    padding: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    color: rgb(196, 196, 196);
    background: #341e7e;
    overflow-y: auto;
    z-index: 0;
}

.sidebar a {
    color: rgb(196, 196, 196);
}
