.admin {
    max-width: 720px;
    margin: 40px auto 0 auto;
    line-height: 1.5em;
    color: rgb(255, 144, 184);
}

.admin .section {
    margin: 0 auto 20px auto;
    padding: 15px;
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, rgba(136, 255, 0, 0.7) 0%, rgba(255, 0, 221, 0.7) 100%);
}

.admin .collapsibleHeader {
    font-size: 15pt;
    color: white;
    background-color: transparent;
    border-image: linear-gradient(to right, rgb(124, 160, 118) 30%, transparent 70%) 1;
    padding: 3px 20px;
    margin: 7px;
    cursor: pointer;
}

.collapsibleHeader:hover {
    background: rgb(128, 47, 78);
    color: #fff;
  }

.admin label {
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    margin: 10px auto 0 auto;
    padding: 0;
}

.admin .checkbox {
    width: 25px;
    height: 25px;
    margin: 20px 20px;
}

.admin .checkboxLabel {
    display: inline;
    cursor: pointer;
    user-select: none;
}

.admin .hint {
    color: rgb(104, 101, 207);
    line-height: 1.2em;
}

.admin span, small {
    display: block;
    margin-bottom: 6px;
    font-size: 0.55em;
}

.admin input, textarea, select {
    max-width: 360px;
    padding: 5px;
    margin: 10px 0;
    color: #777;
    width: 100%;
    border-radius: 7px;
}

.admin .error {
    color: rgb(255, 70, 70);
    font-size: 1.2em;
    margin-top: 20px;
}

.admin .forbidden {
    color: rgb(17, 255, 176);
    font-size: 2em;
}

.admin .success {
    color: rgb(151, 255, 123);
}
