.admin {
    max-width: 720px;
    margin: 40px auto 0 auto;
    padding: 20px;
    line-height: 1.5em;
    color: rgb(255, 144, 184);
}

.admin label {
    font-weight: bold;
    display: block;
    margin: 30px auto 5px auto;
    padding: 0;
}

.admin .hint {
    color: rgb(104, 101, 207);
}

.admin span, small {
    display: block;
    margin-bottom: 6px;
}

.admin input, textarea {
    max-width: 360px;
    padding: 0;
    margin-bottom: 5px;
    font-size: 1em;
    color: #777;
    width: 100%;
}

.admin .error {
    color: rgb(255, 70, 70);
    font-size: 1.2em;
    margin-top: 20px;
}

.admin .forbidden {
    color: rgb(17, 255, 176);
    font-size: 2em;
}

.admin .success {
    color: rgb(151, 255, 123);
}