.courses {
    max-width: 1024px;
    margin: 20px auto;
    padding: 20px;
}

.courses ::selection {
    color: rgb(208, 202, 41);
    background-color: rgb(177, 15, 99);
}

.courses .title {
    font-size: 1em;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: bolder;
    color:rgb(225, 70, 18)
}

.courses .hint {
    font-size: .6em;
}

.courses .hint a {
    font-size: 1.05em;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.courses a {
    text-decoration: none;
    color: #9494ae;
    font-size: .7em;
    font-family: 'Lexend';
    line-height: 1.5;
}

.courses_id {
    font-size: 0.6em;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 7px;
    color: rgb(36, 20, 20);
    background: #baf043;
}

.courses_id ::selection {
    color: rgb(208, 202, 41);
    background-color: rgb(177, 15, 99);
}